In [6]:
import pandas as pd
pd.__version__

'1.3.5'

In [8]:
df = (pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
    .assign(tpep_pickup_datetime=lambda df_: pd.to_datetime(df_['tpep_pickup_datetime']),
            tpep_dropoff_datetime=lambda df_: pd.to_datetime(df_['tpep_dropoff_datetime'])
            )  
)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [9]:
data_definition = (pd.io.sql.get_schema(df, name='yellow_taxi_data'))
print(data_definition)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
data_definition = pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)
print(data_definition)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
#     
#             )  
# )
# df.head()

In [15]:
df = next(df_iter)
len(df)

100000

In [17]:
df = df.assign(tpep_pickup_datetime=lambda df_: pd.to_datetime(df_['tpep_pickup_datetime']),
               tpep_dropoff_datetime=lambda df_: pd.to_datetime(df_['tpep_dropoff_datetime'])
               )

In [18]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [19]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.37 s, sys: 128 ms, total: 3.5 s
Wall time: 7.09 s

In [22]:
from time import time

In [23]:
while True:
    t_start = time()
    df = next(df_iter)
    df = df.assign(tpep_pickup_datetime=lambda df_: pd.to_datetime(df_['tpep_pickup_datetime']),
                   tpep_dropoff_datetime=lambda df_: pd.to_datetime(df_['tpep_dropoff_datetime'])
                   )
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time() 

    print(f'inserted another chunk..., took {t_end-t_start: .2f} seconds')

inserted another chunk..., took  6.92 seconds
inserted another chunk..., took  6.99 seconds
inserted another chunk..., took  7.45 seconds
inserted another chunk..., took  7.34 seconds
inserted another chunk..., took  7.43 seconds
inserted another chunk..., took  7.80 seconds
inserted another chunk..., took  7.93 seconds
inserted another chunk..., took  6.89 seconds
inserted another chunk..., took  7.01 seconds
inserted another chunk..., took  6.55 seconds
inserted another chunk..., took  6.87 seconds

/home/michael/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3377: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took  7.07 seconds
inserted another chunk..., took  4.19 seconds

StopIteration: